{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner lcList">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit cList Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}">
					</div>
					<label for="course">Course:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course1" value="Advance" {% if item.course == 'Advance'%}checked{%endif%}>Advance
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course2" value="Entree" {% if item.course == 'Entree' %}checked{%endif%}>Entree
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course3" value="Easy" {% if item.course == 'Easy'%}checked{%endif%}>Easy
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course4" value="Intermediate" {%if item.course =='Intermediate'%}checked{%endif%}>Intermediate
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showLearningCourses')}}'>
						<button class="btn btn-default delete" type="button">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
